@charset "utf-8";
/* CSS Document */

body,html{height:100%; overflow:hidden; margin:0px; padding:0px;}
.ez_headBar{width:100%; height:50px; background:#f5f5f5; border-bottom:solid 1px #e1e1e1;}
.ez_title h1{float:left; text-align:left; font-size:16px; line-height:50px; color:#267cb7; margin-left:10px}
.ez_title span{float:left;margin-left:20px; margin-top:5px;}
.ez_userMsg{float:right; margin-right:30px; font-size:14px; line-height:50px; color:#666;}
.ez_userMsg a{margin-left:10px; color:#267cb7;}
.ez_userMsg a:hover{ text-decoration:underline;}

.ez_mainL{float:left; height:95%; background:#267cb7; width:12%; overflow:scroll; overflow-x:hidden;}
.ez_mainL ul li{float:left; width:100%; overflow:hidden;}
.ez_mainL ul li a{display:block; width:85%; line-height:40px; color:#fff; font-size:12px; padding-left:15%; border-bottom:solid 1px #2a89be;}
.ez_mainL ul li a:hover{background:#31a1cd;color:#fff;}

.ez_mainL ul li ul{overflow:hidden; background:#2c8ec2;}
.ez_mainL ul li ul li a{font-size:12px; display:block; width:85%;color:#fff; padding-left:20%;border-bottom:none; line-height:40px; }
.ez_menuLact a{background:#31a1cd;color:#fff;}

.ez_mainR{float:left; width:88%; background:#f9f9f9; height:100%;}
.ez_MsgSum{width:100%; padding-top:30px; padding-bottom:30px; overflow:hidden; border-bottom:solid 1px #e1e1e1; }
.ez_MsgSum ul li{float:left; width:25%; text-align:center;}
.ez_MsgSum ul li h1{font-size:18px; line-height:30px;}
.ez_MsgSum ul li p{font-size:14px; line-height:30px;}

.ez_Indjbxx{float:left; width:100%; overflow:hidden; padding:1%; border-bottom:solid 1px #e1e1e1;}
.ez_Indjbxx h1{ width:98%; font-size:16px; line-height:40px; }
.ez_Indjbxx h1 a{margin-left:20px; color:#267cb7;}
.ez_Indjbxx h1 a:hover{text-decoration:underline;}
.ez_Indjbxx p{width:100%; line-height:40px; font-size:14px; color:#666; }

.ez_Indjbxx p span{float:left; width:100px; text-align:right;}

.ez_Indwwc{float:left; width:100%; overflow:hidden; padding:1%;}
.ez_Indwwc h1{ width:98%; font-size:16px; line-height:40px; }
.ez_Indwwc h1 a{margin-left:20px; color:#267cb7;}
.ez_Indwwc h1 a:hover{text-decoration:underline;}
.ez_Indwwc table{float:left; width:50%; text-align:center; border-collapse:separate; border-spacing:1px;}
.ez_Indwwc table tr:hover{ cursor:pointer; background:#f5f5f5;}
.ez_Indwwc table th{line-height:35px; background:#267cb7; color:#fff;}
.ez_Indwwc table td{line-height:35px; border-bottom:solid 1px #eee;}


/* 商户基本信息 */
.ov{overflow: scroll;}
.ez_InfoBox{width:94%;margin:3%;}
.ez_InfoTit{width:100%;border-bottom:1px solid #e1e1e1;font-size:18px;font-weight:bold;color:#000;padding:0 0 10px 0;margin:0 0 15px 0;}
.ez_InfoTit b{color:#666666;}
.ez_InfoTit b img{margin-top:4px;}
.ez_InfoTit span{float:right;display:inline-block;font-size:16px;color:#267cb7;}
.ez_InfoTit span a{color:#267cb7;}
.ez_InfoTit span a:hover{text-decoration:underline;}
.ez_InfoEnt {width:96%;padding:0 2% 0 2%;}
.ez_InfoEnt .tit{width:100%;display:inline-block;font-size:16px;color:#267cb7;line-height:50px;font-weight: normal;margin:10px 0 0 0;}
.ez_InfoEnt .txt{width:100%;line-height:38px;color:#666;font-size:14px;}
.ez_InfoEntBox{width:40%;float:left;margin:0 5% 0 0;}
.ez_InfoBox .bor{border-right:1px solid #e1e1e1;}
.ez_InfoBox .bod{border-top:1px solid #e1e1e1;}

.ez_Addpic{width:100%;overflow: hidden;}
.ez_Addpic ul li{float:left;text-align:center;width:196px;margin:0 15px 0 0;}
.ez_Addpic ul li img{width:196px;height:265px;}
#preview{position: relative;}
#imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
.filse{width:196px;height:265px;background: #000;position: absolute;left:0;top:0;z-index:9999999;filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0;}

/* 客户管理 */
.ez_Search {width:100%;display: inline-block;font-size:14px;color:#666;line-height:30px;height:45px;}
.ez_input1{height:32px;background: #fff;border:1px solid #eee;padding:0 15px;margin:0 10px 0 5px;font-size:14px;color:#666;display: inline-block;line-height:32px;}
.ez_input1:focus {border-color: #66AFE9;outline: 0 none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);margin-bottom:1px;}
.ez_btn1{height:32px;border-radius: 4px;background: #267cb7;border:1px solid #2375ad;color:#fff;font-size:14px;margin:0 8px 0 0;cursor: pointer}
.ez_btn1:hover{background:#2375ad;border:1px solid #2375ad; }

.ez_searchTop{float:left; width:50%;}
.ez_searchTop input{width:300px;height:32px; padding:0 10px; background: #fff;border:1px solid #eee;font-size:14px;color:#666;display: inline-block;line-height:32px;text-align:left;}
.ez_searchTop input:focus {border-color: #66AFE9; outline: 0 none; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);margin-bottom:1px;}
.btn{text-align:center; background:#09F; color:#fff;}

.ez_khoper {float:right; width:50%;text-align:right;}
.ez_khoperA{float:right;display: inline-block;}
.ez_khtab{width:100%;margin:0;}
.ez_khtab .num{width:100%;display: inline-block;font-size:14px;color:#666;padding:15px 0;}
.ez_khtab .num b{color:#ff7e16;}
.ez_input2{width:32px;height:32px;padding:0 10px;background: #fff;border:1px solid #eee;font-size:14px;color:#666;display: inline-block;line-height:32px;text-align:center;}
.ez_input2:focus {border-color: #66AFE9;outline: 0 none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);margin-bottom:1px;}

table.altrowstable {width:100%;font-size:14px;color:#333333;border-width: 1px; border-color: #c2e3f5;border-collapse: collapse;}
table.altrowstable tr:hover{background:#f5f5f5;}
table.altrowstable th{border-width: 1px; padding: 8px; border-style: solid; border-color: #c2e3f5; color: #267cb7; font-weight: normal; line-height: 35px; background: #e7f5ff;}
table.altrowstable td {border-width: 1px;padding: 8px;border-style: solid;border-color: #c2e3f5;text-align:center;font-size:12px;color:#666;line-height:30px;height:30px;}
table.altrowstable td a{color:#267cb7;}
table.altrowstable td a:hover{text-decoration: underline;}
.oddrowcolor{background-color:#fff;}
.evenrowcolor{background-color:#f9fdff;}
table.altrowstable td.yjbgColor{background-color:#f00; color:#fff;}
table.altrowstable td.yqs{color:#093}
table.altrowstable td.wqs{color:#f00}

.Accord{width:100%;padding:10px 0;font-size:14px;color:#999;}


/* 其他邮件-新增 */
.ez_NweCust{width:100%; overflow:hidden;}
.ez_NweCust ul li{ width:100%;font-size:14px; color:#666; padding:0 0 15px 0;height:45px;}
.ez_NweCust ul li p{line-height:35px;float:left; padding-left:110px; color:#F60}

.w{width:300px;height:40px;line-height:40px;}
.w2{width:500px;height:40px;line-height:40px;}
.w3{margin:0 0 20px 0;}
.w4{margin:0 0 3% 0;}
.w5{border-bottom:1px solid #e1e1e1;padding:0 0 8px 0;}
.c1 {background: #b2b2b2;border:1px solid #b2b2b2;}

.ez_NweCust .left1{width:100px; display:inline-block; text-align:right; line-height:45px;}
.ez_NweCust .right1{display: inline-block; line-height:45px; padding:0 0 0 10px; color:#000;}
.ez_NweCustBtn{width:500px;margin:10px 0 60px 110px;}
.ez_FindMore {width:100%;padding:2% 0;line-height:30px;}
.en_jiner{float:left; width:100%; margin-top:30px; margin-bottom:30px; text-align:center;}
.en_jiner h1{font-size:20px; text-align:center; color:#F00; line-height:50px;}

/* 预订库管理 */
.ez_Tbox{width:80%;height:100%; margin:50px auto 0 auto; background: #fff; padding:1%; }
.ez_Tboxdiv{width:100%;height:80%; margin:0 auto; background: #fff; padding-top:15px; }
.color{color:#ff7e16;font-weight: normal;}

/*弹出层*/
.bg {margin:0 auto;background-color:#000; width:100%; height:100%;min-width:320px; left:0;top:0;/*FF IE7*/ filter:alpha(opacity=80);/*IE*/ opacity:0.8;/*FF*/ z-index:1000;  position:fixed!important;/*FF IE7*/  position:absolute;/*IE6*/}
.mydiv {width:100%;height:80%;}
.closd{position: absolute;right:-12px;top:-12px;}
.closd img{width:50px;height:50px;}

.ez_TBtn{width:100%;padding:2% 0 2% 0;}
.ez_TBtn .right{float:right;display: inline-block;}

/*导常处理*/
.ez_Yctit{width:100%;border-bottom:1px solid #e1e1e1;display: inline-block;margin:0 0 15px 0;}
.ez_Yctit li{float:left;width:120px;height:45px;text-align:center;font-size:16px;line-height:44px;color:#2c8ec2;background: #fff;border:1px solid #e1e1e1;border-bottom:0;margin-right:-1px;font-weight:bold;}
.ez_Yctit li a{color:#2c8ec2;display: inline-block;width:100%;}
.ez_Yctit li a:hover{background: #2c8ec2;color:#fff;border:1px solid #2c8ec2;}
.ez_Yctit li .act{background: #2c8ec2;color:#fff;border:1px solid #2c8ec2;}

/*下单信息*/
.ez_OrderInfo{width:100%;padding:10px 0 20px 0;border-bottom:1px solid #e1e1e1;font-size:14px;color:#666;line-height:30px;}

/*登录*/
.ez_login{width:850px;margin:0 auto;padding:10% 0 0 0;}
.ez_login .tit{width:100%;text-align:center;font-size:32px;color:#fff;margin: 0 0 6% 0;}
.ez_login .box{width:90%;margin:0 auto;overflow:hidden;padding:10px;background: #e9f3fa;border:1px solid #fff;border-radius:3px;box-shadow:0px 0px 5px #223a4b;}
.ez_login .box ul li{float:left;width:40%;margin:0 10px 0 0;}
.LogInput{width:92%;height:40px;background: #fff;border:1px solid #c6ddee;border-radius: 3px;padding:0 4%;font-size:16px;color:#333;display: inline-block;line-height:40px;}
.LogInput:focus {border-color: #66AFE9;outline: 0 none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
.LogBtn{height:42px;width:17%;border-radius: 3px;background: #ff7016;border:1px solid #ff9e47;font-size:18px;line-height:30px;color:#fff;cursor: pointer;font-family: "微软雅黑"}
.LogBtn:hover{background:#2375ad;border:1px solid #2375ad;}


/*基础信息管理*/
.wl_box{width:100%;margin:0 0 2% 0;display: inline-block;}
.wl_box a{display:inline-block; width:178px; height:178px; background: #fbfbfb; border:1px solid #e1e1e1;border-radius:100%;text-align:center;margin:5% 3%;}
.wl_box a:hover {background: #fff;box-shadow:0px 0px 8px #e3e3e3;}
.wl_box a span{display: inline-block;width:100%;font-size:18px;color:#999;padding:8px 0 0 0;}
.wl_box a img{margin:25px 0 0 0;}
.wl_qz{float:right; width:70%; height:50px; font-size:16px; line-height:50px; color:#666; }
.wl_qz .one{float:right; width:20%;display: inline-block;}
.wl_qz .two{width:48%;display: inline-block;}

.wl_Input {width:96%;margin:0 auto;background: none;font-size:12px;color:#333;line-height:30px;text-align:center;}
.wl_Input:focus{border-color: #66AFE9;background:#fff;outline: 0 none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
.wl_select {width:95px; height:30px; margin:0 auto;background: none;font-size:12px;color:#333;line-height:30px;text-align:center; border:solid 1px #e1e1e1;}



/*物流平台登录 */
.wl_login{width:550px;margin:0 auto;padding:10% 0 0 0;}
.wl_login .tit{width:100%;text-align:center;font-size:32px;color:#fff;margin: 0 0 6% 0;}
.wl_login .box{width:80%;margin:0 auto;overflow:hidden;padding:8% 5%;background: #e9f3fa;border:1px solid #fff;border-radius:3px;box-shadow:0px 0px 5px #223a4b;}
.wl_login .box ul li{float:left;width:100%;margin:0 0 3% 0;}
.wl_LogInput{width:92%;height:45px;background: #fff;border:1px solid #c6ddee;border-radius: 3px;padding:0 4%;font-size:16px;color:#333;display: inline-block;line-height:45px;}
.wl_LogInput:focus {border-color: #66AFE9;outline: 0 none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
.wl_LogBtn{height:55px;width:100%;margin:2% 0 0 0;border-radius: 3px;background: #ff7016;border:1px solid #ff9e47;font-size:20px;line-height:35px;color:#fff;cursor: pointer;font-family: "微软雅黑"}
.wl_LogBtn:hover{background:#2375ad;border:1px solid #2375ad;}

/*新增导航 */
.wl_Nnav{width:100%; line-height:50px; color:#fff; font-size:14px;border-bottom:solid 1px #2a89be;}
.wl_Nnav a{width:95%; padding-left:5%; color:#fff;display: inline-block;}
.wl_Nnav a:hover{background:#31a1cd;color:#fff;}
.wl_Ntit{width:100%;padding:30px 0 10px 0;font-size:16px;color:#333;overflow: hidden;display: inline-block;}

.wl_bag{font-weight:bold; color:#333; padding:25px 0 0 0;}
.none {display:none;}
.inputTxt{width:100%;height:100%;text-align:center;}



/*分页*/
.pages{height: 22px;text-align: center;padding: 20px 0;font-size: 0;line-height: 25px;clear: both;min-width: 552px;}
.pages a{border: 1px solid #e6e6e6; background-color: #f7f7f7; color: #3c3c3c; width: 22px; height: 28px; line-height: 28px;text-decoration: none;min-width: 12px;font-size: 13px;margin: 0px 2px;padding: 0px 5px;}
.pages a:hover{cursor: pointer;}
.pages a.checked{height: 28px;width: 22px;line-height: 28px;background: #2c8ec2;color: #ffffff;border:1px solid #2c8ec2;font-size:14px;}
.pages a.turnPage{height: 28px;width:auto; line-height: 28px;border: 1px solid #e6e6e6;color: #3c3c3c;background: #f7f7f7;}
.pages a.turnPage:hover{background: #2c8ec2;color: #ffffff;border: 1px solid #2c8ec2;}
.pages a.unable{cursor: default;}
.pages a.numSumit{width: 40px;border-radius: 2px;height: 28px;line-height: 28px;background: #2c8ec2;color: #ffffff;}
.w40{width: 40px;}
.inpCom20{height: 22px;background: #f7f7f7;border: 1px solid #e6e6e6;line-height: 26px;}
.inline{display: inline-block;vertical-align: top;}
.inline{*display: inline;}
.f13 {font-size:13px}



















